h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 147, 147, 0.904);
    text-align: center;
    font-size: 50px;
}
body{
    background-color:black;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}
h2{
color: antiquewhite;
font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30x;
    color: bisque;
}
.scratch{
background-color: rgb(84, 173, 255);
color: rgb(255, 194, 25);
display: inline-block;
padding: 10px 20px;
margin: 5px;
text-decoration: none;
border-radius: 8px;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.chess{
background-color: darkgray;
color: rgb(0, 97, 0);
display: inline-block;
padding: 10px 20px;
margin: 5px;
text-decoration: none;
border-radius: 8px;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.yt{
background-color: white;
color: red;
display: inline-block;
padding: 10px 20px;
margin: 5px;
text-decoration: none;
border-radius: 8px;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.github{
background-color: white;
color: black;
display: inline-block;
padding: 10px 20px;
margin: 5px;
text-decoration: none;
border-radius: 8px;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}